<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>
<h1>Welcome to my auth site!</h1>
{% block content %}
{% endblock %}
</body>
</html>